@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

* {
  font-family: Nunito;
}

header {
  border: 5px solid lightgray;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
  border: 5px solid blue;
}

h1 {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 5px solid red;
}

.container__titles {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: bold;
  padding: 0;
  margin: 0;
  border: 5px solid lightblue;
}
.container__titles h2 {
  text-align: center;
  font-size: 90px;
  border: 5px solid yellowgreen;
}
.container__titles button {
  border: 5px solid purple;
}

a > img {
  border-radius: 30px;
  width: 325px;
  height: 400px;
  object-fit: cover;
  margin: 20px;
}

.button__view-all {
  background-color: rgb(225, 125, 0);
  color: white;
  width: 175px;
  height: 75px;
  border: 0px;
  border-radius: 25px;
  font-family: nunito;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}
