.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
  border: 5px solid blue;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
}
.container__h2 p {
  flex-grow: 2;
  margin: 20px;
  justify-content: center;
}
.container__h2 button {
  flex-grow: 0.25;
  margin: 20px;
}

a > img {
  border-radius: 30px;
  width: 325px;
  height: 400px;
  object-fit: cover;
  margin: 20px;
}

.button__view-all {
  background-color: darkorange;
  color: white;
  width: 110px;
  height: 65px;
  border: 0px;
  border-radius: 25px;
}
